<router-outlet></router-outlet>
<div *ngFor="let item of buyList" class="card">

    <!-- Card image -->
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.webp" alt="Card image cap">
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title"><a>{{item.name}}</a></h4>
      <!-- Text -->
      <span>Nombre: {{ item.name | capitalText}} </span>
      <span>Precio: {{ item.price | currency}} </span>
      <span>Fecha: {{ item.date | date: 'dd/MMM/yyyy'}} </span>
  
    </div>
  
  </div>

